[alias]
  a = add
  b = branch
  ba = branch -a
  branch-name = "!git rev-parse --abbrev-ref HEAD"
  c = commit
  cm = commit -m
  cam = commit -am
  ch = checkout
  d = diff
  dt = difftool
  dtv = difftool -t meld
  f = fetch
  l = log
  m = merge
  p = push
  po = "!git push -u origin \"$(git branch-name)\""
  r = reset
  rb = rebase
  rbc = rebase --continue
  rbs = rebase --skip
  rba = rebase --abort
  s = status
  xcl = clean -df
  xres = reset --hard
  xreso = "!git reset --hard origin/\"$(git branch-name)\""
  oldest-ancestor = !zsh -c 'diff --old-line-format='' --new-line-format='' <(git rev-list --first-parent "${1:-master}") <(git rev-list --first-parent "${2:-HEAD}") | head -1' -

[core]
  autocrlf = input
  editor = vim
  excludesfile = ~/.gitignore

# [commit]
#  gpgsign = true

[diff]
  tool = vimdiff

[difftool "s"] # visual difftool
  cmd = smerge mergetool "$BASE" "$REMOTE" "$LOCAL" -o "$MERGED"

[merge]
  tool = vimdiff

[mergetool "s"] # visual mergetool
  cmd = smerge mergetool "$BASE" "$REMOTE" "$LOCAL" -o "$MERGED"

[pull]
  rebase = true

[push]
  default = current
  followTags = true

[remote "origin"]
  fetch = +refs/pr/*/head:refs/remotes/origin/pr/*

[user]
  name = 'J J Walwyn'
  email = 'me@joshwalwyn.com'
# signingKey = $DF_GIT_USER_SIGNING_KEY

[url "git@github.com:"]
  insteadOf = https://github.com/

[url "ssh://git@gitlab.com/"]
  insteadOf = https://gitlab.com/

[url "ssh://git@bitbucket.org/"]
  insteadOf = https://bitbucket.org/

[web]
  browser = firefox
