#################################
# CONFIG                        #
#################################
[core]
  fileMode     = true
  eol          = lf
  excludesfile = ~/.gitignore
  editor       = vim
  pager        = delta
  whitespace   = trailing-space

[blame]
  date = human

[branch]
  autoSetupRebase = always

[diff]
  colorMoved = default
  tool = vimdiff

[gpg]
  program = gpg

[init]
  defaultBranch = main
  templateDir = ~/.git/templates/default

[interactive]
  diffFilter = delta --color-only

[log]
  decorate = auto

[merge]
  tool = vimdiff
  conflictstyle = diff3

[pull]
  rebase = true

[push]
  default    = current
  followTags = true

[rebase]
  abbreviateCommands = true


[status]
  short = true

[web]
  browser = firefox

[user]
  useConfigOnly = true

[delta]
  navigate     = true
  light        = false
  line-numbers = true
  syntax-theme = base16


###########################################
# REMOTES and URLs                        #
###########################################
[remote "origin"]
  fetch = +refs/pr/*/head:refs/remotes/origin/pr/*

[url "ssh://git@github.com/"]
  insteadOf = https://github.com/


###########################################
# INCLUDE                                 #
# sensitive configi for gpg and identity  #
# with includeIfs rules for work/personal #
###########################################
[include]
  path = ~/.git/.gitconfig


#################################
# ALIAS                         #
# @deprecated - use omz aliases #
#################################
[alias]
  a = add
  b = branch
  c = commit
  cm = commit -m
  cam = commit -am
  ch = checkout
  d = diff
  f = fetch
  l = log
  m = merge
  p = push
  r = rebase
  s = status
