[core]
  fileMode     = true
  eol          = lf
  excludesfile = ~/.gitignore
  editor       = vim
  pager        = less -F -X
  whitespace   = trailing-space

[blame]
  date = human

[branch]
  autoSetupRebase = always

[diff]
  tool = vimdiff


# Include git config that may include sensitive data I don't want to commit
[include]
  path = ~/.git/.gitconfig



[init]
  defaultBranch = main
  ; templateDir = ~/.git/templates/default

[merge]
  tool = vimdiff

[pull]
  rebase = true

[push]
  default = current
  followTags = true

[remote "origin"]
  fetch = +refs/pr/*/head:refs/remotes/origin/pr/*

[web]
  browser = firefox


# Alias: deprecated; use omz git plugin bash aliases now
[alias]
  a = add
  b = branch
  c = commit
  cm = commit -m
  cam = commit -am
  ch = checkout
  d = diff
  f = fetch
  l = log
  m = merge
  p = push
  r = rebase
  s = status
