[user]
    name = J J Walwyn
    email = me@joshwalwyn.com
    username = drinkataco

[core]
    editor = vim
    excludesfile = /Users/aedd/.gitignore

[web]
    browser = google-chrome

[diff]
    tool = vimdiff

[difftool]
    prompt = false

[alias]
    a = add
    ap = add -p

    b = branch
    ba = branch -a
    branch-name = "!git rev-parse --abbrev-ref HEAD"
    
    c = commit
    cm = commit -m
    cam = commit -am
    cd = commit --amend
    cad = commit -a --amend

    ch = checkout
    chb = checkout -b

    d = diff
    dc = diff --cached

    f = fetch

    l = log

    m = merge
    mm = merge -X ours
    mt = merge -X theirs

    p = push
    po = "!git push -u origin \"$(git branch-name)\""

    r = reset

    s = status
    
    # git flow
    f = flow
    ff = flow feature
    ffs = flow feature start
    fff = flow feature finish
    fhs = flow hotfix start
    fhf = flow hotfix finish
    frs = flow release start
    frf = flow release finish

    # destruction
    xcl = clean -df
    xres = reset --hard
    xreso = reset --hard origin
