[user]
    name = %%git.user.name%%
    email = %%git.user.email%%
    username = %%git.user.username%%

[core]
    editor = vim
    excludesfile = %%git.excludesfile=/Users/aedd/.gitignore%%

[web]
    browser = google-chrome

[diff]
    tool = vimdiff

[difftool "meld"] # visual difftool
    cmd = meld "$LOCAL" "$REMOTE"

[merge]
    tool = vimdiff

[mergetool "meld"] # visual mergetool
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"

[alias]
    a = add

    b = branch
    ba = branch -a
    branch-name = "!git rev-parse --abbrev-ref HEAD"

    c = commit
    cm = commit -m
    cam = commit -am
    cd = commit --amend
    cad = commit -a --amend

    ch = checkout
    chb = checkout -b

    d = diff
    dc = diff --cached
    dt = difftool
    dtv = difftool -t meld

    f = fetch

    l = log

    m = merge
    mm = merge -X ours
    mt = merge -X theirs

    p = push
    po = "!git push -u origin \"$(git branch-name)\""

    r = reset

    s = status
    
    # git flow
    fi = flow init
    ff = flow feature
    ffs = flow feature start
    fff = flow feature finish
    fhs = flow hotfix start
    fhf = flow hotfix finish
    frs = flow release start
    frf = flow release finish

    # destruction
    xcl = clean -df
    xres = reset --hard
    xreso = "!git reset --hard origin/\"$(git branch-name)\""

